
.header {
    height: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
}

.routing {
    text-align: right;
}

.contact-icon > *{
    font-size: 13px;
    margin-left: 15px;
    color: white;
}

.each-contact > * {
    display: inline-block;
}

.each-header {
    color: white;
    margin-right: 2rem;
    font-size: larger;
    font-weight: bold;
}