@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); */
body {
    font-family: 'Josefin Sans', cursive;
}

.home-container {
    margin-top: 10rem;
}

.main-title {
    text-align: center;
    /* font: 3em "Fira Sans", serif; */
    font-family: 'Dancing Script', cursive;
    margin-bottom: 5vh;
    font-weight: bold;
    /* color:#00E7FF; */
}

.main-content {
    /* justify-content: center; */
    /* width: 50%; */
    /* font-family:'Sacramento', cursive; */
    text-align: center;
    /* font-style: italic; */
    padding: 0px auto;
    line-height: 5vh;
    font-size: larger;
}

section {
    height: 60vh;
}